 /* Remove the navbar's default margin-bottom and rounded borders */

 .navbar {
   margin-bottom: 0;
   border-radius: 0;
 }

 main {
   min-height: 550px;
 }

 .skill-icon {
   max-width: 30%;
   padding-bottom: 20px;
 }

 form.search-form {
   margin: auto;
   max-width: 400px
 }

 form.search-form input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 80%;
   height: 61px;
   background: #f1f1f1;
 }

 form.search-form button {
   float: left;
   width: 20%;
   padding: 10px;
   background: #000000;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
 }

 form.search-form button:hover {
   background: #0b7dda;
 }

 form.search-form::after {
   content: "";
   clear: both;
   display: table;
 }

 .row a {
   color: #333;
 }

/**
 * To visually hide the element and text to avoid redundancy and also to provide the element to satisfy WCGA 2.0
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
