div.sm{
	padding-top: 60px;
	font-size: 20px
}

hr.smSolid{
	border-top: 4px #bbb;
}

h2.sm{
	padding-bottom: 8px;
}

ul.sm {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.sm li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}