/*
Software Testing Style Sheet
*/

html{
	scroll-behavior: smooth;
}


#imgSDLC{
	float: right;
    margin: 30px;
    height: 220px;
    width: 220px;
}

#imgSWtestingClass{
	float: right;
    margin: 10px;
    height: 320px;
    width: 420px;
}

#imgUnitTesting{
	float: right;
    margin: 10px;
    height: 220px;
    width: 320px;
}

#imgRoles{
	float: right;
    margin: 10px;
    height: 120px;
    width: 420px;
}

#imgCal{
	float: right;
    margin: 10px;
    height: 220px;
    width: 220px;
}



#caption-SDLC{
	font-size: 12px;
}

#caption-SWtestingClass{
	font-size: 17px;
	padding-left: 60px;
}

.to-top {
	background: #ffffff;
	position: fixed;
	bottom: 16px;
	right: 45px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center; 
	font-size: 32px;
	color: #ffffff;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;
}

.to-top.active{
	bottom: 70px;
	pointer-events: auto;
	opacity: 1;
}
