html{
  scroll-behavior: smooth;
}

div.sm{
  padding-top: 60px;
  font-size: 19px
}

div.box {
  border: 1px solid black;
  padding: 10px;
  width: 600PX;
  text-align: justify;
   box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border:0;
}



h2.sm{
  padding-bottom: 2px;
}

hr.smSolid{
  border-top: 4px #bbb;
}

ul.sm {
  list-style-type: none;
  padding: 0;
  margin: 0;
   box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border:0;
}

ul.sm li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}


div.card{
  box-shadow:rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
  border:0;
}

.card:hover{
  box-shadow:0px 17px 10px -10px rgba(0,0,0,0.4);border:0;
  text-decoration: none;
}






a{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}

  

.column {
  float: left;
  width: 24.5%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}