Options -Indexes

RewriteEngine On
RewriteRule ^index.html$ "http\:\/\/sestopia-d\.epizy\.com\/index\.php" [R=301,QSA,L]

ErrorDocument 403 /index.php?page=403
ErrorDocument 404 /index.php?page=404
ErrorDocument 500 /index.php?page=500